Repository jimhendy/AoC: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff format, ruff check

ruff format:
  name: Ruff Formatting
  entry: ruff format
  language: system

ruff check:
  name: Ruff Check
  entry: ruff check
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

2023 Day 10
  2023/07/b.py
  2023/10/a.py
  2023/10/b.py
  poetry.lock
  pyproject.toml
Due: ruff format

2023 Day 13
  2023/11/a.py
  2023/11/b.py
  2023/12/a.py
  2023/12/b.py
  2023/13/a.py
  2023/13/b.py
  tools/a_star.py
Due: ruff format, ruff check

2023 Day 17
  2023/15/a.py
  2023/15/b.py
  2023/16/a.py
  2023/16/b.py
  2023/17/a.py
  2023/17/b.py
  tools/a_star.py
Due: ruff format, ruff check

2023 Day 12
  2023/12/b.py
  2023/18/alt_b.py
  2023/18/b.py
  2023/19/a.py
  2023/19/b.py
  2023/20/a.py
  2023/20/b.py
  2023/21/a.py
  2023/21/b.py
  poetry.lock
  pyproject.toml
Due: ruff format

Update deps
  2023/21/b.py
  poetry.lock
  pyproject.toml
Due: ruff format

Update
  .vscode/settings.json
  2023/21/b.py
Due: ruff format

Update deps
  poetry.lock
Due: none

chore: Update dependencies and remove debugging code
  .vscode/settings.json
  2018/24/army.py
  2019/15/droid.py
  2021/16/packets.py
  2022/22/b.py
  2023/05/b.py
  2023/12/b.py
  2023/14/b.py
  2023/20/a.py
  2023/20/b.py
  2023/21/b.py
  2023/22/a.py
  2023/23/a.py
  2023/23/b.c++
  2023/23/b.py
  tools/a_star.py
  tools/binary_search.py
  tools/point.py
Due: ruff format, ruff check

Migrate to uv
  .python-version
  2023/21/b.py
  2023/22/a.py
  poetry.lock
  pyproject.toml
  src/aoc/__init__.py
  uv.lock
Due: ruff format, ruff check

Create ruff.yml
  .github/workflows/pylint.yml
Due: none

Update ruff.yml
  .github/workflows/pylint.yml
Due: none

Updates
  2023/24/a.py
  2023/24/b.py
Due: ruff format

2024 day 3
  2023/21/a.py
  2023/21/b.py
  2024/02/a.py
  2024/02/b.py
  2024/03/a.py
  2024/03/b.py
  src/aoc/__init__.py
  tools/a_star.py
  tools/errors.py
  tools/inputs.py
Due: ruff format, ruff check

2024 Day 4
  2024/04/a.py
  2024/04/b.py
  tools/inputs.py
Due: ruff format, ruff check

2024 Day 5
  2024/05/a.py
  2024/05/b.py
Due: ruff format

Lintin
  2023/14/b.py
  2023/21/a.py
  2023/21/b.py
  2024/02/a.py
  2024/02/b.py
  2024/03/a.py
  2024/03/b.py
  2024/04/a.py
  2024/04/b.py
  2024/05/a.py
  2024/05/b.py
  pyproject.toml
  uv.lock
Due: ruff format

Pin ruff
  .github/workflows/pylint.yml
  pyproject.toml
  tools/point.py
  uv.lock
Due: ruff format, ruff check

2024 Day 6
  2024/06/a.py
  2024/06/b.py
Due: ruff format

2024 Day 8
  2024/08/a.py
  2024/08/b.py
Due: ruff format

2024 Day 7
  .gitignore
  2024/06/b.py
  2024/07/a.py
  2024/07/b.py
  pyproject.toml
  uv.lock
Due: ruff format

2024 Day 9
  2024/09/a.py
  2024/09/b.py
Due: ruff format

2024 Day 10
  2024/01/a.py
  2024/01/b.py
  2024/03/a.py
  2024/03/b.py
  2024/04/a.py
  2024/04/b.py
  2024/06/b.py
  2024/07/b.py
  2024/08/a.py
  2024/08/b.py
  2024/09/a.py
  2024/09/b.py
  2024/10/a.py
  2024/10/b.py
Due: ruff format

2024 Day 12
  2024/11/a.py
  2024/11/b.py
  2024/12/a.py
  2024/12/b.py
Due: ruff format

2024 Day 13
  2024/13/a.py
  2024/13/b.py
Due: ruff format

2024 Day 15
  2024/15/a.py
  2024/15/b.py
Due: ruff format

2024 16 WIP
  2024/16/a.py
  2024/16/b.py
Due: ruff format

2024 Day 16
  2024/15/a.py
  2024/15/b.py
  2024/16/a.py
  2024/16/b.py
Due: ruff format

2024 Day 17
  .python-version
  2024/17/a.py
  2024/17/b.py
  2024/18/a.py
  pyproject.toml
Due: ruff format

2024 Day 20
  2023/21/a.py
  2023/21/b.py
  2024/17/b.py
  2024/18/a.py
  2024/18/b.py
  2024/19/a.py
  2024/19/b.py
  2024/20/a.py
  2024/20/b.py
  tools/inputs.py
Due: ruff format, ruff check

2024 22
  2024/08/a.py
  2024/08/b.py
  2024/12/a.py
  2024/12/b.py
  2024/15/a.py
  2024/15/b.py
  2024/17/a.py
  2024/17/b.py
  2024/18/a.py
  2024/18/b.py
  2024/19/a.py
  2024/19/b.py
  2024/20/a.py
  2024/20/b.py
  2024/21/a.py
  2024/21/b.py
  2024/22/a.py
  2024/22/b.py
  2024/23/a.py
  2024/23/b.py
  2024/24/a.py
  tools/inputs.py
Due: ruff format, ruff check

2024 24 b
  2024/24/b.py
  2024/24/b_spreadsheet_generator.py
Due: ruff format

2024 21 b
  2024/08/a.py
  2024/15/a.py
  2024/15/b.py
  2024/21/a.py
  2024/21/b.py
  2024/24/a.py
  2024/24/b.py
  tools/inputs.py
Due: ruff format, ruff check

Better idea fo 2024 17 b
  2024/17/b.py
Due: ruff format

2024 17 b
  2020/03/a.py
  2020/03/b.py
  2020/06/b.py
  2020/13/b.py
  2020/13/chinese_remainder.py
  2020/14/a.py
  2021/03/b.py
  2021/07/b.py
  2021/08/b.py
  2021/16/bits_message.py
  2021/16/packets.py
  2021/18/pair.py
  2021/19/a.py
  2021/19/b.py
  2022/12/a_star.py
  2022/16/a_star.py
  2022/22/b.py
  2023/06/a.py
  2023/06/b.py
  2023/13/a.py
  2023/13/b.py
  2023/14/b.py
  2023/17/a.py
  2023/17/b.py
  2023/18/a.py
  2023/18/alt_b.py
  2023/22/a.py
  2023/24/a.py
  2024/08/a.py
  2024/15/a.py
  2024/15/b.py
  2024/17/b.py
Due: ruff format

2024 25
  2024/25/a.py
Due: ruff format

Remove empty solution files for 2025 challenges
  2025/13/a.py
  2025/13/b.py
  2025/14/a.py
  2025/14/b.py
  2025/15/a.py
  2025/15/b.py
  2025/16/a.py
  2025/16/b.py
  2025/17/a.py
  2025/17/b.py
  2025/18/a.py
  2025/18/b.py
  2025/19/a.py
  2025/19/b.py
  2025/20/a.py
  2025/20/b.py
  2025/21/a.py
  2025/21/b.py
  2025/22/a.py
  2025/22/b.py
  2025/23/a.py
  2025/23/b.py
  2025/24/a.py
  2025/24/b.py
  2025/25/a.py
  2025/25/b.py
Due: ruff format

Path conditions:
  ruff format: any of: \.py$
  ruff check: any of: \.py$, but not: 20..|tests
